body {
    font-family: 'Lato', sans-serif;
    color: #291f1a;
    font-weight: 300;
    background-color: blue;
}
#main-nav {
    position: fixed;
    background-color: #ffffff;
    font-weight: 300;
    width: 100%;
    
}
ul {
    float: right;
    margin-bottom: 0;
}
li {
    display: inline-block;
    color: #1ac056;
    padding: 30px 0px;
}
/* li:hover {
    background-color: #1ac056;
    
} */
a {
    padding: 30px 40px;
}
a:hover {
    text-decoration: none;
    color: white;
    background-color: #1ac056;
}